<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controlador.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recuperarServlet</servlet-name>
        <servlet-class>controlador.recuperarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroservlet</servlet-name>
        <servlet-class>controlador.registroservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSession</servlet-name>
        <servlet-class>controlador.CerrarSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuarios</servlet-name>
        <servlet-class>controlador.ModificarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recuperarServlet</servlet-name>
        <url-pattern>/recuperarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroservlet</servlet-name>
        <url-pattern>/registroservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSession</servlet-name>
        <url-pattern>/CerrarSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuarios</servlet-name>
        <url-pattern>/ModificarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
